// mixins

.make-section(@row-background-color: @gray-lighter, @section-background-color: @gray-lighter) {
  // preventing image from being shown
	width: 100%;
	background-color: @section-background-color;

	> div {
    .container();
		.make-section-header();

    > div {
      .make-row();
      background-color: @row-background-color;
    }
  }
}

.make-section-header {
	h2 {
		margin-top: 75px;
		font-weight: bold;
		text-transform: uppercase;
		color: @gray-darker;
	}

	h3 {
		margin-top: 30px;
		margin-bottom: 40px;
		color: @gray;
	}
}

// classes

.col-1-2-3-4 {
  > div {
    .make-columns-by-amount(1, 2, 3, 4);
    height: 100px;
  }
}

.col-1-1-3 {
	> div {
    .make-columns-by-amount(1, 1, 3, 3);
  }
}

.col-1-2-3 {
	> div {
    .make-columns-by-amount(1, 2, 3, 3);
  }
}

.col-1-2 {
	> div {
    .make-columns-by-amount(1, 2, 2, 2);
  }
}

// structure

body {
	@background-position: right center;
	.make-background-cover-image(@intro-img, @background-position, fixed);
	height: 100%;
}
